* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Josefin sans;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .image-container {
  height: 50%;
  width: 100%;
}
.container .image-container .logo-img {
  padding: 30px 0px 30px 40px;
}
.container .image-container .hero-img {
  width: 412px;
}

.container .content-container {
  margin: 50px 0px 50px 0px;
  text-align: center;
  padding: 0px 30px 0px 30px;
}
.container .content-container h1 {
  font-size: 60px;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
  letter-spacing: 10px;

  text-transform: uppercase;
}
.container .content-container h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
.container .content-container p {
  letter-spacing: 1px;
  line-height: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: hsl(0, 36%, 70%);
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}
.container .content-container .input-container {
  position: relative;
  /* background-color: aqua; */
}

.container .content-container input {
  padding: 22px;
  width: 100%;
  border-radius: 40px;
  border: none;
  border: 1px solid hsl(0, 36%, 70%);
  margin-top: 30px;
  margin-bottom: 20px;
}
.container .content-container input::placeholder {
  color: hsl(0, 36%, 70%);
}
.container .content-container button {
  padding: 15px 45px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 40px;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -5px;
}
.container .content-container .error-img {
  position: absolute;
  top: 46px;
  right: 120px;
}
.container .content-container .arrow-img {
  width: 15px;
}
.desktop-ui {
  display: none;
}

.hide-error-info-icon,
.hide-error-info-text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .desktop-ui {
    display: inline-block;
  }
  .mobile-ui {
    display: none;
  }
  .container {
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
  }
  .container .image-container {
    width: 40%;
  }
  .container .image-container .hero-img {
    width: 100%;
    height: 100vh;
  }
  .container .content-container {
    width: 60%;
    height: 100vh;

    margin: 0;
    /* padding: 100px; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
  }
  .container .content-container .logo-img {
    width: 150px;
    position: absolute;
    top: 40px;
  }
}
